@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}
body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.box {
  background-color: var(--Dark-Blue);
  width: 400px;
  max-width: 100%;
  padding: 30px;
  border-radius: 20px;
}
/* rating-box styling*/
.star {
  width: 40px;
  height: 40px;
  background-color: hsl(213, 19%, 23%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box h2 {
  color: var(--White);
  margin-top: 30px;
}
.box p {
  color: var(--Light-Grey);
  line-height: 1.5em;
}
.box ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.box ul li {
  list-style: none;
}
.box ul li a {
  background-color: hsl(213, 19%, 23%);
  color: var(--Light-Grey);
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.box ul li a:hover {
  background: var(--Light-Grey);
  color: var(--White);
}
.box ul li a:focus {
  background-color: var(--Orange);
  color: var(--White);
}
button.submit {
  background-color: var(--Orange);
  color: var(--White);
  letter-spacing: 0.2em;
  border: none;
  border-radius: 50px;
  width: 100%;
  margin-top: 30px;
  padding: 15px 0px;
  cursor: pointer;
  font-weight: 700;
}
button.submit:hover {
  background-color: var(--White);
  color: var(--Orange);
}
.rating-box.hide {
  display: none;
}

/* thank-you box styling*/
.thank-you-box {
  text-align: center;
  display: none;
}
.thank-you-img {
  margin-top: 15px;
}
.thank-you-box h1 {
  margin: 10px 0 10px;
  color: var(--White);
  font-weight: 400;
  font-size: 28px;
}
.thank-you-box h4 {
  background-color: hsl(213, 19%, 23%);
  color: var(--Orange);
  display: inline-block;
  padding: 5px 20px;
  margin-top: 25px;
  border-radius: 20px;
  font-weight: 400;
}
.thank-you-box p {
  color: var(--Light-Grey);
  margin: 0;
}
.thank-you-box.show {
  display: block;
}
#select-num {
  margin: 0 5px;
}
